/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {


}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  .schoolAds {
    margin-bottom: 30px;
  }
  .schoolEvent-area .schoolEvent {
  margin-top: 26px;
}
}


/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.schoolAds-area .schoolAds-text h2 {
 font-size: 34px;
}
.schoolAds {
  margin-bottom: 30px;
}
.schoolCourses-area .schoolCourses .class-description ul.class-info li {
  border: 0 none;
  margin: 0 7px;
  padding: 0;
  text-align: center;
}
.schoolStaff-area .schoolStaff {
  margin-bottom: 60px;
}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}

}
