/*-----------------------------------------------------------------------------------

    Template Name: Your template name 
    Template URI: http://bootexperts.com
    Description: This is html5 template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



body{
	
    font-family: 'Sniglet', sans-serif;

}

/* topBar area css */
.topBar-area {
  background: #7ee5e8 none repeat scroll 0 0;
  padding: 12px 0;
}
.topBar-area .top-bar {
  float: right;
}
.topBar-area .top-bar .social-icon {
  display: inline-block;
  margin: 0 10px;
}
.topBar-area .top-bar .social-icon a {
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
}
.topBar-area .top-bar .social-icon a:hover{
	opacity:.5;
}
.topBar-area .top-bar .social-icon a i{}
.topBar-area .top-bar .language {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  cursor:pointer;
}
.topBar-area .top-bar .language .select-result {
  padding: 0 10px 0 30px;
  position: relative;
}
.topBar-area .top-bar .language .select-result::before {
  color: #fff;
  font-family: fontawesome;
  font-size: 20px;
  left: 5px;
  position: absolute;
  top: -3px;
  transition: all 0.3s ease 0s;
  content: "\f02d";
}
.topBar-area .top-bar .language .select-result span.language-text {
  font-size: 14px;
  color: #fff;
}
.topBar-area .top-bar .language .select-result i {
  color: #fff;
}
.topBar-area .top-bar .language ul.dropDown-menu {
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: 30px;
  position: absolute;
  top: 33px;
  z-index: 999999;
}
.topBar-area .top-bar .language ul.dropDown-menu li{
  text-align: center;
 }
.topBar-area .top-bar .language ul.dropDown-menu a {
  border-bottom: 1px solid #e8e8e8;
  color: #9a9a9a;
  display: block;
  font-size: 14px;
  margin: 0 5px;
  padding: 8px 15px;
  text-align: center;
  white-space: nowrap;
  transition:all 0.3s ease;
}
.topBar-area .top-bar .language ul.dropDown-menu a:hover{
	color:#f1c712;
}
ul.dropDown-menu li:last-child a {
  border-bottom: 0 none !important;
}
.topBar-area .top-bar .login-area {
  display: inline-block;
  float: right;
  margin-left: 20px;
  position:relative;
}
.topBar-area .top-bar .login-area a {
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
}
.topBar-area .top-bar .login-area a:hover{
	opacity:.5;
}
.topBar-area .top-bar .login-area i {
  font-size: 16px;
  margin-right: 8px;
}
.topBar-area .top-bar .login-area span.user-content{}

.lightbox-area {
	background:rgba(0,0,0,.5);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1090;
  opacity:0;
  visibility:hidden;
  transition:all .4s ease
}
.lightbox-area.open{
	opacity:1;
	visibility:visible;
}
.lightbox-area .lightbox-dialog .lightbox-wrapper {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #5d5d5d;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 30px auto;
  padding: 35px;
  position: relative;
  text-align: left;
  transform: translateY(-100px);
  transition: all 0.4s ease 0s;
  vertical-align: middle;
  width: 600px;
  z-index: 9999999;
}
.lightbox-area .lightbox-dialog  .lightbox-wrapper button.close{}
.close {
  color: #000;
  float: right;
  font-size: 21px;
  font-weight: bold;
  height: 42px;
  line-height: 1;
  opacity: 1;
  width: 42px;
  position: absolute;
  right: 5px;
  top: 5px;
}
button.close {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
.lightbox-area.open .lightbox-dialog .lightbox-wrapper {
  transform: translateY(123px);
}
.lightbox-area .lightbox-dialog .lightbox-wrapper button.close i {
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-body{}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-body h2.title {
  font-size: 24px;
  text-transform: capitalize;
  color: #9a9a9a;
}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-body form#form-box{}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-body form#form-box fieldset{}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-body form#form-box fieldset input#input-box{
  background: #fff none repeat scroll 0 0;
  border:2px solid #9a9a9a;
  border-radius: 4px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2) !important;
  color: #5d5d5d;
  font-size: 14px;
  font-weight: normal;
  height: 52px;
  padding: 0 10px;
  width: 100%;
  margin-top:15px;
  text-transform:capitalize;
}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-body form#form-box fieldset input.btn2 {
  background: #92278f none repeat scroll 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 #7e227b, 0 5px 0 0 #000, 0 10px 0 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 42px;
  margin-left: 418px;
  margin-top: 15px;
  padding: 0 14px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  top: 0;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-body form#form-box fieldset input.btn2:hover{
	background:#6a1c68;
	color:#fff;
	border:1px solid #000;
	box-shadow:none;
	top:5px;
}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-body form#form-box fieldset p.light-link {
  font-size: 14px;
  color: #9a9a9a;
}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-body form#form-box fieldset p.light-link a {
  color: #92278f;
}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-footer {
  border-top: 1px solid #9a9a9a;
  color: #9a9a9a;
  font-size: 14px;
  padding: 15px;
  text-align: right;
}
.lightbox-area .lightbox-dialog .lightbox-wrapper .lightbox-footer a{
	color:#92278f;
}


/* topBar area css */
/* header area css */
.header-area{}
.header-area .logo-area {
  display: inline-block;
  height: 76px;
  left: -50px;
  line-height: 76px;
  position: absolute;
  top: -50px;
}
.header-area .logo-area a{}
.header-area .logo-area a img{}
.header-area ul.mainMenu {
  float: right;
}
.header-area ul.mainMenu li.mainMenu_items {
  display: inline-block;
  height: 76px;
  line-height: 76px;
  margin-right: 40px;
  position: relative;
}
.header-area ul.mainMenu li.mainMenu_items ul.sub-menu {
  background: #f9f9f9 none repeat scroll 0 0;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  opacity: 0;
  padding: 10px 0;
  position: absolute;
  top: 105px;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 240px;
}
.header-area ul.mainMenu li.mainMenu_items ul.sub-menu li {
  display: block;
  line-height: 28px;
  padding: 0;
  position: relative;
  overflow:hidden;
}
.header-area ul.mainMenu li.mainMenu_items ul.sub-menu li a {
  border-bottom: 1px solid #f1f1f1;
  color: #727375;
  display: block;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.header-area ul.mainMenu li.mainMenu_items:hover ul.sub-menu {
	visibility:visible;
	opacity:1;
	top:100%;
}
.header-area ul.mainMenu li.mainMenu_items ul.sub-menu li:last-child a{
	border-bottom:none;
}
.header-area ul.mainMenu li.mainMenu_items::after {
  background: #9a9a9a none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: auto;
  position: absolute;
  right: -25px;
  top: 50%;
  width: 6px;
  transform: translateY(-50%);
  transition:all 0.3s ease;
}
.header-area ul.mainMenu li.mainMenu_items:last-child:after {
  display: none;
}
.header-area ul.mainMenu li.mainMenu_items a {
  display: block;
  font-size: 16px;
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
  transition: all .3s ease;
}
.header-area ul.mainMenu li.mainMenu_items a::before {
  bottom: -18px;
  content: "";
  font-family: fontawesome;
  font-size: 20px;
  left: -20px;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
  z-index: 1;
}
.header-area ul.mainMenu li.mainMenu_items ul.sub-menu li a::before {
  display: none;
}
.header-area ul.mainMenu li.mainMenu_items:hover a::before{
	opacity:1;
	left:20px;
}
.header-area ul.mainMenu li.mainMenu_items a::after {
  content: "";
  font-family: fontawesome;
}
.header-area ul.mainMenu li.mainMenu_items:last-child a::after {
  content: none;
}
.header-area ul.mainMenu li.mainMenu_items ul.sub-menu li a::after {
  display: none;
}
.header-area .mainMenu_searchBar {
  float: right;
}
.header-area ul.mainMenu li.mainMenu_items:first-child a {
  color: #8ac53f;
}
.header-area ul.mainMenu li.mainMenu_items:first-child ul.sub-menu li a:hover {
  background: #8ac53f;
  color:#f9f9f9;
}
.header-area ul.mainMenu li.mainMenu_items:nth-child(2) a {
  color: #2ab0ba;
}

.header-area ul.mainMenu li.mainMenu_items:nth-child(2) ul.sub-menu li a:hover{
  background: #2ab0ba;
  color:#f9f9f9;
}
.header-area ul.mainMenu li.mainMenu_items:nth-child(3) a {
  color: #f1c712;
}
.header-area ul.mainMenu li.mainMenu_items:nth-child(3) ul.sub-menu li a:hover{
  background: #f1c712;
  color:#f9f9f9;
}
.header-area ul.mainMenu li.mainMenu_items:nth-child(4) a {
  color: #ed117d;
}
.header-area ul.mainMenu li.mainMenu_items:nth-child(4) ul.sub-menu li a:hover{
  background: #ed117d;
  color:#f9f9f9;
}
.header-area ul.mainMenu li.mainMenu_items:nth-child(5) a {
  color: #00a651;
}
.header-area ul.mainMenu li.mainMenu_items:nth-child(5) ul.sub-menu li a:hover{
  background: #00a651;
  color:#f9f9f9;
}
.header-area ul.mainMenu li.mainMenu_items:last-child a {
  color: #92278f;
}
.header-area .mainMenu_searchBar {
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header-area .mainMenu_searchBar i {
  font-size: 16px;
  cursor: pointer;
  color: #9a9a9a;
}
.search-area {
  position: fixed;
  background: rgba(0,0,0,0.5);
  content: "";
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: all 0.4s ease;
  opacity:0;
  visibility:hidden;
}
.search-area.add {
  opacity: 1;
  visibility: visible;
}
.search-area .search-wrapper{
  background: #f8f8f8 ;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: inline-block;
  height: 120px;
  left: 40%;
  margin: 20px 0;
  padding: 30px;
  position: absolute;
  top: 30%;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  transform:translateY(-50px);
  transition:all .4s ease;
}
.search-area.add .search-wrapper {
  transform: translateY(50%);
}
.search-area .search-wrapper button.iconBtn {
  background: inherit;
  border: medium none;
  border-radius: 4px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.search-area .search-wrapper button.iconBtn i{
	font-size:20px;
}
.search-area .search-wrapper .search-body{}
.search-area .search-wrapper .search-body form#form-box{}
.search-area .search-wrapper .search-body form#form-box input#input-box {
  -moz-border-bottom-colors: inherit;
  -moz-border-left-colors: inherit;
  -moz-border-right-colors: inherit;
  -moz-border-top-colors: inherit;
  background: transparent none repeat scroll 0 0;
  border-bottom: 2px solid #5d5d5d;
  border-image: inherit;
  border-left: inherit;
  border-right: inherit;
  border-top: inherit;
  height: 50px;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  text-transform: capitalize;
  color: #9a9a9a;
}
/* header area css */
/* slider area css */
.slider-area {
  background: rgba(0, 0, 0, 0) url("img/slider-bg.png") no-repeat scroll 0 0 / cover ;
  height: 100%;
  width: auto;
  background-position: center center;
}
/* slider area css */
/* schoolAds area css */
.schoolAds-area {
  padding: 110px 0 145px;
}
.schoolAds-area .schoolAds-text{
	margin-bottom:50px;
}
.schoolAds-area .schoolAds-text h2 {
  font-size: 44px;
  line-height: 44px;
  color: #92278f;
  font-weight: 500;
  margin-bottom: 15px;
}
.schoolAds-area .schoolAds-text p {
  font-size: 24px;
  color: #c7c7c7;
  display: inline-block;
  line-height: 24px;
}
.schoolAds {
  position: relative;
}
.schoolAds .schoolAds-img{}
.schoolAds .schoolAds-img img{
	height:auto;
	width:100%;
}
.schoolAds .school-content {
  background: rgba(165, 198, 55, 0.9) none repeat scroll 0 0;
  border-bottom: 8px solid rgba(165, 198, 55, 0.9);
  border-radius: 40px 40px 4px 4px;
  border-top: 8px solid rgba(165, 180, 75, 0.9);
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 30px 32px 39px;
  position: absolute;
  right: 0;
  top: auto;
  transition: all 600ms ease 0s;
  width: 100%;
  opacity:1;
}
.schoolAds-area .col-md-3:nth-child(2) .school-content{
	background:rgba(146, 39, 143, 0.9);
	border-bottom: 8px solid rgba(166, 89, 153, 0.9);
	border-top: 8px solid rgba(166, 89, 153, 0.9);
}
.schoolAds-area .col-md-3:nth-child(3) .school-content{
	background:rgba(241, 109, 124, 0.9);
	border-bottom: 8px solid rgba(261, 123, 175, 0.9);
	border-top: 8px solid rgba(261, 123, 175, 0.9);
}
.schoolAds-area .col-md-3:nth-child(4) .school-content{
	background:rgba(0, 174, 239, 0.9);
	border-bottom: 8px solid rgba(2, 195, 255, 0.9);
	border-top: 8px solid rgba(2, 195, 255, 0.9);
}
.schoolAds .school-content .schoolAds-icon{}
.schoolAds .school-content .schoolAds-icon i {
  color: #fff;
  font-size: 50px;
}
.schoolAds .school-content h4.icon-text {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  text-transform: capitalize;
  transition: all 600ms ease 0s;
  line-height: 1.1;
}
.schoolAds:hover .school-content h4.icon-text{
	margin-bottom:15px;
}
.schoolAds .school-content .hidden-text {
  color: #fff;
  font-size: 14px;
  max-height: 0;
  transition: max-height 600ms ease 0s, opacity 600ms ease 0s;
  opacity:0;
}
.schoolAds:hover .hidden-text{
	opacity:1;
	max-height:300px;
}
/* schoolAds area css */
/* schoolIncroll area css */
.schoolIncroll-area {
  background: rgba(0, 0, 0, 0) url("img/home-enroll-bg.jpg") no-repeat scroll 50% 50% / cover ;
  padding: 100px 0 0;
}
.schoolIncroll-area .schoolIncroll{}
.schoolIncroll-area .schoolIncroll .schoolIncroll-leftImg{
	margin-bottom:15px
}
.schoolIncroll-area .schoolIncroll .schoolIncroll-leftImg img{}
.schoolIncroll-area .schoolIncroll h3.schoolIncroll-title {
  color: #727375;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 35px;
}
.schoolIncroll-area .schoolIncroll p.schoolIncroll-text {
  font-size: 16px;
  line-height: 24px;
  color: #9a9a9a;
  margin-bottom: 30px;
  margin-top: 15px;
  font-weight: normal;
}
.schoolIncroll-area .schoolIncroll .button{}
.schoolIncroll-area .schoolIncroll .button a.btn {
  background: #92278f;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 18px;
  line-height: 42px;
  padding: 0 28px;
  color: #fff;
  display: inline-block;
  top:0;
  transition: all 0.3s ease;
  position: relative;
  box-shadow:0 4px 0 0 #7e227b, 0 5px 0 0 #000, 0 10px 0 0 rgba(0, 0, 0, 0.1);
}
.schoolIncroll-area .schoolIncroll .button a.btn:hover{
	border:1px solid #000;
	box-shadow:none;
	color:#f9f9f9;
	top:5px;
	background:#6a1c68;
}
.schoolIncroll-area .schoolIncroll-rightImg{}
.schoolIncroll-area .schoolIncroll-rightImg img{}
/* schoolIncroll area css */
/* schoolCourses area css */
.schoolCourses-area{
  padding: 110px 0 145px;
  }
.schoolCourses-area .schoolCourses-text{
	margin-bottom:50px;
}
.schoolCourses-area .schoolCourses-text h2{
  font-size: 44px;
  line-height: 44px;
  color: #92278f;
  font-weight: 500;
  margin-bottom: 15px;
}
.schoolCourses-area .schoolCourses-text p{
  font-size: 24px;
  color: #c7c7c7;
  display: inline-block;
  line-height: 24px;
}
.schoolCourses-area .schoolCourses{}
.schoolCourses-area .schoolCourses .schoolCourses-img {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.schoolCourses-area .schoolCourses .schoolCourses-img img {
  transform: scale(1) rotate(0deg);
  width: 100%;
  transition: all 500ms ease 0s;
}
.schoolCourses-area .schoolCourses:hover .schoolCourses-img img{
	transform: scale(1.07) rotate(2deg);
}
.schoolCourses-area .schoolCourses .schoolCourses-img .over-lay {
  background: rgba(146, 39, 143, 0.8);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-10deg) scale(0.8);
  width: 100%;
  transition: all 0.4s ease;
  z-index: 1;
  opacity:0;
}
.schoolCourses-area .schoolCourses:hover .schoolCourses-img .over-lay{
	transform:translate(0, 0) rotate(0deg) scale(1);
	opacity:1;
}
.schoolCourses-area .schoolCourses .schoolCourses-img .over-lay a.icon {
  color: #fff;
  font-size: 35px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease;
}
.schoolCourses-area .schoolCourses .schoolCourses-img .over-lay a.icon:hover{
	opacity:0.6;
}
.schoolCourses-area .schoolCourses .schoolCourses-img .over-lay a:hover.icon{
	transform: translate(-50%, -50%);
	transition-delay:0.2s;
}
.schoolCourses-area .schoolCourses .schoolCourses-img .over-lay a.icon i{}
.schoolCourses-area .schoolCourses .class-description {
  background: #f2f5f9 none repeat scroll 0 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 6px #eaecf1;
  overflow: hidden;
  padding: 30px 35px;
  text-align: center;
}
.schoolCourses-area .schoolCourses .class-description h3.class-name{}
.schoolCourses-area .schoolCourses .class-description h3.class-name a {
  font-size: 28px;
  font-weight: normal;
  color: #92278f;
  text-decoration: none;
}
.schoolCourses-area .schoolCourses .class-description span.admission {
  color: #727375;
  font-size: 14px;
  margin: 10px 0 0;
}
.schoolCourses-area .schoolCourses .class-description ul.class-info {
  margin-top: 37px;
  margin-bottom: 10px;
}
.schoolCourses-area .schoolCourses .class-description ul.class-info li {
  display: inline-block;
  text-align: left;
  padding: 0 20px;
  border-left: 1px solid #dcdfe3;
}
.schoolCourses-area .schoolCourses .class-description ul.class-info li:first-child{
	border-left:0 none;
	padding-left:0;
}
.schoolCourses-area .schoolCourses .class-description ul.class-info li a {
  font-size: 18px;
  color:#92278f;
  text-decoration:none;
}
.schoolCourses-area .schoolCourses .class-description ul.class-info li a span {
  color: #727375;
  display: block;
  font-size: 14px;
  text-transform: capitalize;
}
/* schoolCourses area css */
/* schoolFacilities area css */
.schoolFacilities-area {
  background: rgba(0, 0, 0, 0) url("img/home-school-facilities-bg.jpg") no-repeat scroll center center / cover ;
  padding: 75px 0 110px;
}
.schoolFacilities-area .schoolFacilities {
  text-align: center;
  margin-bottom: 60px;
}
.schoolFacilities-area .schoolFacilities .schoolFacilities-img{}
.schoolFacilities-area .schoolFacilities .schoolFacilities-img img{}
.schoolFacilities-area .schoolFacilities h2.schoolFacilities-title {
  color: #92278f;
  font-size: 44px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}
.schoolFacilities-area .schoolFacilities p.schoolFacilities-text {
  color: #9a9a9a;
  font-size: 16px;
}
.schoolFacilities-area .schoolSports {
  text-align: center;
}
.schoolFacilities-area .schoolSports .schoolSports-icon{}
.schoolFacilities-area .schoolSports .schoolSports-icon i {
  font-size: 48px;
  color: #0072bc;
}
.schoolFacilities-area .col-md-3:nth-child(3) .schoolSports .schoolSports-icon i{
	color:#8dc63f;
}
.schoolFacilities-area .col-md-3:nth-child(4) .schoolSports .schoolSports-icon i{
	color:#f26522;
}
.schoolFacilities-area .col-md-3:last-child .schoolSports .schoolSports-icon i{
	color:#92278f;
}
.schoolFacilities-area .schoolSports h4.schoolSports-title {
  color: #333;
  font-size: 20px;
  line-height: 20px;
  margin-bottom:10px;
  margin-top:10px;
}
.schoolFacilities-area .schoolSports p.schoolSports-text {
  font-size: 16px;
  color:#9a9a9a;
}
/* schoolFacilities area css */
/* schoolStaff area */
.schoolStaff-area{
	padding:110px 0 145px;
}
.schoolStaff-area .schoolStaff-title {
  margin-bottom: 50px;
}
.schoolStaff-area .schoolStaff-title h2{
  color: #92278f;
  font-size: 44px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}
.schoolStaff-area .schoolStaff-title p{
  color: #9a9a9a;
  font-size: 16px;
}
.schoolStaff-area .schoolStaff {
  text-align: center;
}
.schoolStaff-area .schoolStaff .schoolStaff-img {
  position: relative;
}
.schoolStaff-img::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(146, 39, 143, 0.8);
  top: 0;
  left: 0;
  transform: skew(0deg) scaleX(0);
  transition: all 0.3s ease;
  bottom: 0;
  z-index:1;
  opacity:0;
  border-radius:4px;
}
.schoolStaff-img:hover:after{
	transform: skew(0deg) scaleX(1);
	opacity:1;
	transition:all 0.3s ease;
}
.schoolStaff-area .schoolStaff .schoolStaff-img img {
  border-radius: 4px;
  box-shadow: 0 6px #eceef0;
  margin-bottom: 6px;
}
.schoolStaff-area .schoolStaff .schoolStaff-img ul.schoolStaff-icon {
  bottom: 0;
  height: 28px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 999999;
  text-align: center;
  opacity: 0;
  transition:all 0.3s ease;
}
.schoolStaff-area .schoolStaff .schoolStaff-img:hover ul.schoolStaff-icon {
	opacity:1;
	top:0;
}
.schoolStaff-area .schoolStaff .schoolStaff-img ul.schoolStaff-icon li {
  display: inline-block;
  margin: 0 22px 0 0;
}
.schoolStaff-area .schoolStaff .schoolStaff-img ul.schoolStaff-icon li a {
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  transition:all 0.3s ease;
  z-index:1
}
.schoolStaff-area .schoolStaff .schoolStaff-img ul.schoolStaff-icon li a:hover{
	opacity:0.6;
}
.schoolStaff-area .schoolStaff .schoolStaff-img ul.schoolStaff-icon li a i{}
.schoolStaff-area .schoolStaff h4.schoolStaff-icon-text {
  font-size: 24px;
  font-weight: 400;
  margin: 28px 0 10px;
  color: #92278f;
  text-transform: capitalize;
}
.schoolStaff-area .schoolStaff .schoolStaff-icon-contents {
  color: #6a6a6a;
  font-size: 18px;
}
/* schoolStaff area */
/* schoolTestimonial area */
.schoolTestimonial-area {
  background: url(img/home-testimonial-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding:75px 0 150px;
}
.schoolTestimonial-area .schoolTestimonial{
	text-align:center;
}
.schoolTestimonial-area .schoolTestimonial-img {
  position: relative;
  z-index:5;
  padding-top:35px;
}
.schoolTestimonial-img::after {
  background: rgba(0, 0, 0, 0) url("img/testi-img-bg.png") repeat scroll center center / cover ;
  bottom: 0;
  content: "";
  height: 170px;
  left: 10px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 232px;
  z-index: -1;
}
.schoolTestimonial-area .schoolTestimonial-img img {
  border: 6px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px #d9d9d9;
  margin-bottom: 10px;
}
.schoolTestimonial-area .schoolTestimonial-icon {
  margin-top: 10px;
}
.schoolTestimonial-area .schoolTestimonial-icon i {
  color: #ffffff;
  font-size: 16px;
}
.schoolTestimonial-area h4.schoolTestimonial-title {
  color: #ffffff;
  font-size: 24px;
  margin: 11px 0 1px;
}
.schoolTestimonial-area p.schoolTestimonial-text {
  font-size: 18px;
  color: #ffffff;
  margin: 0 0 10px;
}
.schoolTestimonial-area p.schoolTestimonial-massage {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  margin: 23px 0 0;
  line-height: 28px;
}
/* schoolTestimonial area */
/* schoolEvent area start */
.schoolEvent-area{
  padding: 110px 0 145px;
  }
.schoolEvent-area .schoolEvent-text{
	margin-bottom:50px;
}
.schoolEvent-area .schoolEvent-text h2{
  font-size: 44px;
  line-height: 44px;
  color: #92278f;
  font-weight: 500;
  margin-bottom: 15px;
}
.schoolEvent-area .schoolEvent-text p{
  font-size: 24px;
  color: #c7c7c7;
  display: inline-block;
  line-height: 24px;
}
.schoolEvent-area .schoolEvent{}
.schoolEvent-area .schoolEvent .schoolEvent-img{
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.schoolEvent-area .schoolEvent .schoolEvent-img img{
  transform: scale(1) rotate(0deg);
  width: 100%;
  transition: all 500ms ease 0s;
}
.schoolEvent-area .schoolEvent:hover .schoolEvent-img img{
	transform: scale(1.07) rotate(2deg);
}
.schoolEvent-area .schoolEvent .schoolEvent-img .over-lay{
  background: rgba(146, 39, 143, 0.8);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-10deg) scale(0.8);
  width: 100%;
  transition: all 0.4s ease;
  z-index: 1;
  opacity:0;
}
.schoolEvent-area .schoolEvent:hover .schoolEvent-img .over-lay{
	transform:translate(0, 0) rotate(0deg) scale(1);
	opacity:1;
}
.schoolEvent-area .schoolEvent .schoolEvent-img .over-lay a.icon{
  color: #fff;
  font-size: 35px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease;
}
.schoolEvent-area .schoolEvent .schoolEvent-img .over-lay a.icon:hover{
	opacity:0.6;
}
.schoolEvent-area .schoolEvent .schoolEvent-img .over-lay a:hover.icon{
	transform: translate(-50%, -50%);
	transition-delay:0.2s;
}
.schoolEvent-area .schoolEvent .schoolEvent-img .over-lay a.icon i{}
.schoolEvent-area .schoolEvent .event-description {
  padding-top: 50px;
  position: relative;
  z-index: 99999;
}
.schoolEvent-area .schoolEvent .event-description span.event-date {
  background: #0072bc none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 4px #045a91;
  color: #fff;
  font-size: 13px;
  left: 18px;
  line-height: 0.9;
  padding: 8px 13px;
  position: absolute;
  text-transform: capitalize;
  top: -25px;
}
 .schoolEvent-area .col-md-3:nth-child(3) .schoolEvent .event-description span.event-date{
	background:#f26522 none repeat scroll 0 0;
	box-shadow:0 4px #d54d0d;
} 
.schoolEvent-area .col-md-3:nth-child(4) .schoolEvent .event-description span.event-date{
	background:#8dc63f none repeat scroll 0 0;
	box-shadow:0 4px #72a230;
} 
.schoolEvent-area .col-md-3:last-child .schoolEvent .event-description span.event-date{
	background:#92278f none repeat scroll 0 0;
	box-shadow:0 4px #6a1c68;
}
.schoolEvent-area .schoolEvent .event-description span.event-date span {
  color: #fff;
  display: block;
  font-size: 24px;
}
.schoolEvent-area .schoolEvent .event-description h5.event-title {
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0;
}
.schoolEvent-area .schoolEvent .event-description h5.event-title a {
  color: #5d5d5d;
  transition:all 0.3s ease;
}
.schoolEvent-area .schoolEvent .event-description h5.event-title a:hover{
	color:#92278f;
}
.schoolEvent-area .schoolEvent .event-description ul.event-info{}
.schoolEvent-area .schoolEvent .event-description ul.event-info li {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
  color: #979797;
}
.schoolEvent-area .schoolEvent .event-description ul.event-info li span {
  color: #5d5d5d;
}
/* schoolEvent area start */
/* contactUs area start */
.contactUs-area {
  background: rgba(0, 0, 0, 0) url("img/home-bottom-cta-bg.jpg") repeat scroll 0 0;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contactUs-area h3.contactUs-title {
  font-size: 32px;
  line-height: 32px;
  color:#92278f;
}
.contactUs-area .button {
  text-align: center;
}
.contactUs-area .button a.btn2 {
  background: #92278f none repeat scroll 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 #7e227b, 0 5px 0 0 #000, 0 10px 0 0 rgba(0, 0, 0, 0.1);
  color: #fff;
    display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 42px;
  padding: 0 28px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease;
  z-index: 1;
  position:relative;
  top:0;
}
.contactUs-area .button a.btn2:hover{
	background:#6a1c68;
	color:#fff;
	border:1px solid #000;
	box-shadow:none;
	top:5px;
}
/* contactUs area start */
/* contactOther area css */
.contactOther-area{
	padding:120px 0;
}
.contactOther-area .contactOther {
  text-align: center;
}
.contactOther-area .contactOther .contactOther-icon{}
.contactOther-area .contactOther .contactOther-icon i {
  font-size: 48px;
  color: #f7941d;
  line-height: 48px;
}
.contactOther-area .col-md-3:nth-child(2) .contactOther .contactOther-icon i{
	color:#0072bc;
}
.contactOther-area .col-md-3:nth-child(3) .contactOther .contactOther-icon i{
	color:#8dc63f;
}
.contactOther-area .col-md-3:nth-child(4) .contactOther .contactOther-icon i{
	color:#f26d7d;
}
.contactOther-area .contactOther h4.contactOther-title {
  color: #f7941d;
  font-size: 20px;
  margin: 10px 0;
}
.contactOther-area .col-md-3:nth-child(2) .contactOther h4.contactOther-title{
	color:#0072bc;
}
.contactOther-area .col-md-3:nth-child(3) .contactOther h4.contactOther-title{
	color:#8dc63f;
}
.contactOther-area .col-md-3:nth-child(4) .contactOther h4.contactOther-title{
	color:#f26d7d;
}
.contactOther-area .contactOther p.contactOther-text {
  font-size: 16px;
  color: #9a9a9a;
}
/* contactOther area css */
/* footer area css */
.footer-area {
  background: rgba(0, 0, 0, 0) url("img/bottom-bg.png") repeat fixed 0 0;
  padding: 80px 0 305px;
  overflow: hidden;
  position: relative;
}
.footer-area::before {
  background: rgba(0, 0, 0, 0) url("img/bottom.png") no-repeat scroll center bottom;
  height: 275px;
  bottom: 0;
  top: inherit;
  width:100%;
  position:absolute;
  content:"";
}
.footer-area::after {
  background: #92278f none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.footer-area .footerkidzy-img{}
.footer-area .footerkidzy-img img{}
.footer-area p.footerkidzy-text {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}
.footer-area p.footer-copyright {
  font-size: 14px;
  color: #fff;
}
.footer-area ul.footerKidzy-icon{}
.footer-area ul.footerKidzy-icon li {
  display: inline-block;
}
.footer-area ul.footerKidzy-icon li a {
  font-size: 18px;
  color: #fff;
  padding: 5px 8px;
}
.footer-area ul.footerKidzy-icon li a:hover{
	opacity:0.6
}
.footer-area ul.footerKidzy-icon li a i{}
.footer-area h3.footer-quicklink {
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}
.footer-area ul.footer-quicklink-icon{}
.footer-area ul.footer-quicklink-icon li{}
.footer-area ul.footer-quicklink-icon li a {
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  position:relative;
  display:block;
}
.footer-area ul.footer-quicklink-icon li a:hover{
	padding-left:10px;
}
.footer-quicklink-icon a::before {
  content: " ";
  font-family: fontawesome;
  position: absolute;
  transition:all 0.3s ease;
  left:0;
  opacity:0;
}
.footer-quicklink-icon a:hover:before{
	opacity:1;
}
.footer-area h3.footerNwsleter-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.footer-area p.footerNwsleter-text {
  font-size: 16px;
  color: #fff;
}
.footer-area input.input-box {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2) !important;
  color: #5d5d5d;
  font-size: 14px;
  font-weight: normal;
  height: 36px;
  padding: 0 10px;
  width: 74%;
}
.footer-area input.btn2 {
  background: #92278f none repeat scroll 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 #7e227b, 0 5px 0 0 #000, 0 10px 0 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 42px;
  padding: 0 14px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  top: 0;
  transition: all 0.3s ease 0s;
  z-index: 1;
  display: inline-block;
  margin-left: 286px;
}
.footer-area input.btn2:hover{
	background:#6a1c68;
	color:#fff;
	border:1px solid #000;
	box-shadow:none;
	top:5px;
}


.footer-area .scrollup{
  bottom: 106px;
  position: absolute;
  right: 75px;
  height: 50px;
  width: 50px;
  background: red;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 4px;
  cursor:pointer;
  display:none;
}

/* footer area css */